<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css" />
  </head>
  <body>
    <h1>Job Scrapper</h1>
    <h4>What job do you want</h4>
    <p>{{ keyword }}</p>
    {% for job in jobs %}
    <div>
      <span>⭐{{ job['title'] }}</span>
      <span>⭐{{ job['company'] }}</span>
      <span>⭐{{ job['link'] }}</span>
    </div>
    {% endfor%}
    <script src="" async defer></script>
  </body>
</html>
